/* Reset some basic elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  background-color: #fff; /* White background */
  color: #000; /* Black text */
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #ccc; /* Light gray background on hover */
}

/* Utility classes */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.text-center {
  text-align: center;
}

/* Footer styles
.footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
}

.footer-links {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin-bottom: 10px;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}

.social-icons {
  display: flex;
  gap: 10px;
} */

<<<<<<< HEAD
/* In your global.css file */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
=======
.footer {
  background-color: #f8f9fa;
  padding: 20px 0;
  margin-top: 20px;
  position: relative;
  width: 100%;
  bottom: 0;
}

.footer-links {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin-bottom: 10px;
}

.footer-links a {
  text-decoration: none;
  color: inherit;
}

.social-icons {
  display: flex;
  gap: 10px;
}

.content {
  flex: 1;
>>>>>>> origin/master
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
  background-color: #333;
  color: #fff;
  padding: 20px 0;
}

.footer-links {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin-bottom: 10px;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}

.social-icons {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}






.hero-section {
  background-image: url('../img/img-cakes.jpg');
  background-size: cover;
  background-position: center;
  color: #a9cbe3;
  text-align: center;
  
  /* New or modified properties */
  min-height: 80vh; /* Makes the section at least 80% of the viewport height */
  padding: 150px 0; /* Increases top and bottom padding */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Vertically centers the content */
}
.hero-title {
  margin-bottom: 20px;
}

.hero-subtitle {
  margin-bottom: 40px;
}

.hero-button {
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 5px;
}

.mb-6 {
  margin-bottom: 24px;
}

.mb-8 {
  margin-bottom: 32px;
}

.p-4 {
  padding: 16px;
}

.h-full {
  height: 100%;
}

.text-primary {
  color: #3f51b5;
}