/* Reset some basic elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000; /* Black background */
  color: #fff; /* White text */
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  background-color: #fff; /* White background */
  color: #000; /* Black text */
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #ccc; /* Light gray background on hover */
}

/* Utility classes */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.text-center {
  text-align: center;
}

/* Footer styles
.footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
}

.footer-links {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin-bottom: 10px;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}

.social-icons {
  display: flex;
  gap: 10px;
} */

/* In your global.css file */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
  background-color: #333;
  color: #fff;
  padding: 20px 0;
}

.footer-links {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin-bottom: 10px;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}

.social-icons {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}






.hero-section {
  background-image: url('../img/img-cakes.jpg');
  background-size: cover;
  background-position: center;
  color: #a9cbe3;
  text-align: center;
  
  /* New or modified properties */
  min-height: 80vh; /* Makes the section at least 80% of the viewport height */
  padding: 150px 0; /* Increases top and bottom padding */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Vertically centers the content */
}
.hero-title {
  margin-bottom: 20px;
}

.hero-subtitle {
  margin-bottom: 40px;
}

.hero-button {
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 5px;
}